**/bin/
**/obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vs/
*.VC.db
*.VC.VC.opendb
.idea/
.vscode/
.DS_Store
Thumbs.db
.config/dotnet-tools.json
*.log
*.pid
*.seed
*.pid.lock
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
**/publish/
**/out/
secrets.json
*.db
*.db-shm
*.db-wal
coverage/
tmp/
temp/
